@import "tailwindcss";

@theme {
  --color-slate-1: #fcfcfd;
  --color-gray-7: #cecece;
  --color-mauve-7: #d0cdd7;
  --color-mauve-12: #211f26;

  --font-manrope: "Manrope Variable", sans-serif;
  --font-sora: "Sora Variable", sans-serif;
}
